<!DOCTYPE html>
<html>
<head>
    <title>Identity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleLogin.css" />
</head>
<body>
    <div class="contenedorPrincipal">
        @RenderBody()
    </div>
</body>
</html>

