@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <h5 class="index">Ahora puede iniciar a usar la funcionalidades disponibles en el menu lateral</h5>
</div>

<style>
    .index {
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin:50px;
    }
</style>