
.contenedorPrincipal {
    background: url(../imagenes/img4.png);
    height: 800px;
    background-size: cover; /*adapta a la pantalla*/
    background-attachment: fixed;
    
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.titulo {
    color: #E5E5E5;
}
.secundario {
    margin: auto;
    margin-top: 20px;
    border: solid 1px;
    width: 360px;
    height: 378px;
    background: rgba(14, 13, 13, 0.8);
    padding: 15px;
    border-radius: 5px;
}

input {
    height: 39px;
    background: #E5E5E5;
    filter: blur(0,5px);
    border-radius: 10px;
    font-size: 14px;
}
.contenedor .form {
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 0;

}
.label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #E5E5E5;
}

button {
    margin-top:20px;
    width:328px;
    height: 46px;
    background: #ECA51F;
    filter: blur(0,5px);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #E5E5E5;
}